{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
	<title>Image Upload and Display</title>
</head>
<body>
	<center>
	<h1 MEDICINAL PLANT IDENTIFICATION </h1> </center>
	<div class="main">
	<div class="container">
		<div class="display-container">
			<img id="image-preview">
		</div>
		<div class="upload-container">
			<div class="upload">
				<p>

			  <form action="checkleaf" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
				click here to 
				  <label for="image-upload">Browse</label>
				  <input type="file" id="image-upload" name="image"> files</p>
				  <!-- <button type="submit">Upload</button> -->
			  </div>
			  <div class="uploaded uploaded--one">
				<i class="far fa-file-pdf"></i>
				<div class="file">
				  <div class="file__name">
					<p id="id01">file_names</p>
					<i class="fas fa-times"></i>
				  </div>
		  <!-- <form>
			  <label for="image-upload">Select an image:</label>
			  <input type="file" id="image-upload">
			  <button type="submit">Upload</button>
		  </form> -->
				  </div>
			  </div>
			  <div class="center">
				<button type="submit">Upload</button>
				</div>
			</form>
			<!-- <h1>Upload an Image</h1>
			<label for="image-upload">
				Select an image
				<input type="file" id="image-upload">
			</label>
		</div> -->
	</div>
<!-- </div> -->
</div>
</div>
	 <div id="detail">
        <h1 style="text-align:center;color:blue;">{{ pltname }}</h1>
		<h1 style="text-align:center;color:red;">{{ rob }}</h1>
		<p id="id02">{{ name }}</p>
</div>
	<script>
		const imageUpload = document.getElementById('image-upload');
		const imagePreview = document.getElementById('image-preview');

		imageUpload.addEventListener('change', function() {
			const file = this.files[0];
			const element = document.getElementById("id01");
			element.innerHTML = file.name;

			if (file) {
				const reader = new FileReader();

				reader.addEventListener('load', function() {
					imagePreview.setAttribute('src', this.result);
				});

				reader.readAsDataURL(file);
			}
		});
	</script>
</body>
</html>
